s<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">CREDIT-SOFT</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Listeclient">
                <span class="oi oi-people" aria-hidden="true"></span> Clients
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Listcompte">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Comptes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Listedepot">
                <span class="oi oi-sort-descending" aria-hidden="true"></span> Depots
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Listeretrait">
                <span class="oi oi-dollar" aria-hidden="true"></span> Retraits
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Listevirement">
                <span class="oi oi-transfer" aria-hidden="true"></span> Virements
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
