@using BlazorDB.Data
@using BlazorDB.Data.Interfaces

@inject ICityService CityService
@inject NavigationManager NavigationManager
@page "/editcity/{id:int}"

<h2>Modification</h2>
<hr />
@if (city == null)
{
    <p>loading...</p>
}
else
{
<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="" for="Name">Name</label>
                <input class="form-control" id="Name" @bind="@city.Name" />
                <label class="" for="State">State</label>
                <input class="form-control" id="State" @bind="@city.State" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@UpdateCity" value="Update" />
                <input type="button" class="btn btn-danger" @onclick="@Fermer" value="Fermer" />
            </div>
        </div>
    </div>
</form>
}

@code {
    [Parameter]
    public int id { get; set; }
    City city = new City();
    protected override async Task OnInitializedAsync()
    {
        city = await CityService.SingleCity(id);
    }
    protected async Task UpdateCity()
    {
        await CityService.EditCity(id, city);
        NavigationManager.NavigateTo("ListeCities");
    }
    void Fermer()
    {
        NavigationManager.NavigateTo("ListeCities");
    }
}
